nav ul {
  display: flex;
  background-color: #cefbff;
  margin-block-start: 0;
  padding: 32px;
  justify-content: center;
  flex-wrap: wrap;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

nav ul li {
  list-style-type: none;
  margin: 25px;
}

nav + div {
  padding: 20px;
}

.refresh {
  margin: 10px 5px 15px;
}

nav + div a, nav + div div {
  margin-top: 10px;
  display: block;
  color: inherit;
}